# Loading Data

In [1]:
import pandas as pd
import json

In [8]:
data_file = open('yelp_dataset_review.json',encoding='utf8')
data=[]
for line in data_file:
    data.append(json.loads(line))
review_df = pd.DataFrame(data)
data_file.close()

In [300]:
review_df

,review_id,user_id,business_id,review_stars,text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,"If you decide to eat here, just be aware it is..."
11,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,"Locals recommended Milktooth, and it's an amaz..."
21,ZVvhc3Go7v5I8XTiVoWmqQ,WBpQDAZymU0dhIqXcACGNw,ut6fi2W2YaipNOqvi7e0jw,3.0,"Upland is a brewery based out of Bloomington, ..."
28,DyrAIuKl60j_X8Yrrv-kpg,mNsVyC9tQVYtzLOCbh2Piw,MWmXGQ98KbRo3vsS5nZhMA,5.0,I recently had dinner here with my wife over t...
31,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,"Great burgers,fries and salad! Burgers have a..."
...,...,...,...,...,...
6990251,A5uNiAOGcU0M34sSGN6Wkg,JWhZs-vSggwN6WgxBHgIDw,B2xtWMBTyDtd-ndqqaIC1Q,1.0,Sat at the bar for 10 minutes and didn't get s...
6990255,MVg4YUQeEhCA7Z7RsBJSVg,7-7A0Avj47slLGV7yBFc8w,ytynqOUb3hjKeJfRj5Tshw,3.0,"I was so excited about all the food I saw, but..."
6990270,7NgXAuTFiJHYbuepOPwU0w,x1QLCwZGFAjxRRw4EHc3-g,1_BVWDzi5cVqWxNe9bOMMQ,5.0,Don't misinterpret my 5-star review....I don't...
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,For when I'm feeling like ignoring my calorie-...
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,Located in the 'Walking District' in Nashville...

In [13]:
bus_df = pd.read_json('yelp_dataset_business.json',lines=True)

In [301]:
bus_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks"
...,...,...,...,...,...,...,...,...,...,...,...
150315,WXNag-tmudrFHFlfNLogWg,Whole Foods Market,4577 W Pine Blvd,St. Louis,MO,63108,38.641988,-90.261655,4.0,"{'RestaurantsPriceRange2': '3', 'DogsAllowed':...","Health Markets, Specialty Food, Food, Grocery"
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C..."
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R..."
150328,1jx1sfgjgVg0nM6n3p0xWA,Savaya Coffee Market,11177 N Oracle Rd,Oro Valley,AZ,85737,32.409552,-110.943073,4.5,"{'BusinessParking': '{'garage': False, 'street...","Specialty Food, Food, Coffee & Tea, Coffee Roa..."
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ..."

In [16]:
data_file = open('yelp_dataset_user.json',encoding='utf8')
data=[]
for line in data_file:
    data.append(json.loads(line))
user_df = pd.DataFrame(data)
data_file.close()

In [299]:
user_df

,user_id,name,review_count,yelping_since,elite,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,2007,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,"2009,2010,2011,2012,2013",3.32
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,"2009,2010,2011",4.27
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,,3.54
...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,,4.92
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,,5.00
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,,2.00
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,,3.00
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,,5.00

In [17]:
review_df.to_pickle('review_df_p.pkl')
bus_df.to_pickle('bus_df_p.pkl')
user_df.to_pickle('user_df_p.pkl')

# Preprocessing

In [177]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords

In [178]:
review_df = pd.read_pickle('review_df_p.pkl')
bus_df=pd.read_pickle('bus_df_p.pkl')
user_df=pd.read_pickle('user_df_p.pkl')

### Cleaning

In [179]:
review_df.drop(labels=['useful','funny','cool','date'], axis=1,inplace=True)

In [180]:
review_df.rename(columns={'stars':'review_stars'},inplace=True)

6990280 reviews is too many reviews for my computer to handle. I'll need to reduce the number of reviews that I'm looking at. Limit down to only "Restaurants" that are open.

In [181]:
bus_df = bus_df[bus_df['is_open']==1]
bus_df.drop(['is_open','hours','review_count'],axis=1,inplace=True)

In [182]:
bus_df = bus_df[bus_df['categories'].str.contains('Restaurants | Food',case=False,na=False)]
bus_df.dropna()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks"
...,...,...,...,...,...,...,...,...,...,...,...
150315,WXNag-tmudrFHFlfNLogWg,Whole Foods Market,4577 W Pine Blvd,St. Louis,MO,63108,38.641988,-90.261655,4.0,"{'RestaurantsPriceRange2': '3', 'DogsAllowed':...","Health Markets, Specialty Food, Food, Grocery"
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C..."
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R..."
150328,1jx1sfgjgVg0nM6n3p0xWA,Savaya Coffee Market,11177 N Oracle Rd,Oro Valley,AZ,85737,32.409552,-110.943073,4.5,"{'BusinessParking': '{'garage': False, 'street...","Specialty Food, Food, Coffee & Tea, Coffee Roa..."
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ..."

In [183]:
df_explode = bus_df.assign(categories = bus_df.categories.str.split(', ')).explode('categories')

In [184]:
df_explode=df_explode[df_explode['categories'].str.contains('Restaurants',case=False,na=False)]

In [185]:
df_explode = df_explode[df_explode['business_id'].isin(review_df['business_id'])]

In [186]:
review_df = review_df[review_df['business_id'].isin(df_explode['business_id'])]

In [187]:
user_df.drop(labels=['compliment_hot','compliment_more','compliment_profile','compliment_cute','compliment_list','compliment_note','compliment_plain','compliment_cool','compliment_funny','compliment_writer','compliment_photos','friends','cool','funny','useful','fans'],axis=1,inplace=True)

In [188]:
df = pd.merge(df_explode,review_df,on='business_id',how='inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245071 entries, 0 to 1245070
Data columns (total 15 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   business_id   1245071 non-null  object
 1   name          1245071 non-null  object
 2   address       1245071 non-null  object
 3   city          1245071 non-null  object
 4   state         1245071 non-null  object
 5   postal_code   1245071 non-null  object
 6   latitude      1245071 non-null  float64
 7   longitude     1245071 non-null  float64
 8   stars         1245071 non-null  float64
 9   attributes    1243614 non-null  object
 10  categories    1245071 non-null  object
 11  review_id     1245071 non-null  object
 12  user_id       1245071 non-null  object
 13  review_stars  1245071 non-null  float64
 14  text          1245071 non-null  object
dtypes: float64(4), object(11)
memory usage: 152.0+ MB

In [189]:
df.city.value_counts()

Philadelphia    168354
New Orleans     129266
Nashville        93778
Tampa            92635
Tucson           69494
                 ...
St Petersurg         5
Florence             5
Tampa,Fl             5
Liverpool            5
Eddington            5
Name: city, Length: 643, dtype: int64

In [190]:
df2 = df[df['city']=='Philadelphia']

In [191]:
df2.reset_index(inplace=True, drop=True)

In [192]:
df2

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,review_id,user_id,review_stars,text
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,BXQcBN0iAi1lAUxibGLFzA,6_SpY41LIHZuIaiDs5FMKA,4.0,This is nice little Chinese bakery in the hear...
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,uduvUCvi9w3T2bSGivCfXg,tCXElwhzekJEH6QJe3xs7Q,4.0,This is the bakery I usually go to in Chinatow...
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,a0vwPOqDXXZuJkbBW2356g,WqfKtI-aGMmvbA9pPUxNQQ,5.0,"A delightful find in Chinatown! Very clean, an..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,MKNp_CdR2k2202-c8GN5Dw,3-1va0IQfK-9tUMzfHWfTA,5.0,I ordered a graduation cake for my niece and i...
4,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,D1GisLDPe84Rrk_R4X2brQ,EouCKoDfzaVG0klEgdDvCQ,4.0,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168349,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...",Restaurants,8PN342Tq31UcoNS94_MlhA,KXYRjdlgg-Gw7mwF22ZAJg,4.0,I was online and couldn't decide what to order...
168350,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...",Restaurants,GfQcyzm8-p8rpaZVsTX0RA,5brVyYOgkbT_ibCUrxoRiQ,2.0,My partner raved about Primo Hoagies so I was ...
168351,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...",Restaurants,hmD07AxStBzAqdFLQL2jWA,n9CEHJIidfuaX6NaIP_GGA,5.0,"Well built hoagie, nice and full...bread, meat..."
168352,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...",Restaurants,8Faf8D6VZ4Gxm-kOyB9QtQ,AEiUZNOr9SNqeF07Tndkxg,4.0,My boyfriend (vegetarian) and I ordered from P...
168353,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...",Restaurants,cNb6y6eEnz5Xc5YjfiNHJQ,m-o1o9E6yTCL8KOIH04ixQ,1.0,For a place that only makes hoagies how do u f...

In [193]:
#df2['text'] = df2['text'].astype(str).str.casefold()
#df['text'] = df2['text'].str.replace(r'[^\w\s]+', '',regex=True)

### Vectorizing

In [194]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, HashingVectorizer
import nltk
import pickle

In [195]:
#df['tokenized'] = df.apply(lambda x: nltk.word_tokenize(x['text']),axis=1)
#stop_words = set(stopwords.words('english'))
#df['tokenized'] = df.tokenized.apply(lambda x: [word for word in x if word not in stop_words])

In [196]:
import re
stemmer = nltk.PorterStemmer()
def prep(word):
    word=word.lower() 
    word=re.sub("\\W"," ",word) # remove special chars
    word=re.sub("\\s+(in|the|all|for|and|on)\\s+"," _connector_ ",word) # normalize certain words
    word=re.sub("\\d",'',word) # remove numbers
    
    # stem words
    words=re.split("\s+",word)
    stemmed_words=[stemmer.stem(word=word) for word in words]
    return ' '.join(stemmed_words)

In [197]:
df2.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,review_id,user_id,review_stars,text
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,BXQcBN0iAi1lAUxibGLFzA,6_SpY41LIHZuIaiDs5FMKA,4.0,This is nice little Chinese bakery in the hear...
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,uduvUCvi9w3T2bSGivCfXg,tCXElwhzekJEH6QJe3xs7Q,4.0,This is the bakery I usually go to in Chinatow...
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,a0vwPOqDXXZuJkbBW2356g,WqfKtI-aGMmvbA9pPUxNQQ,5.0,"A delightful find in Chinatown! Very clean, an..."

In [198]:
#corpus = df.tokenized.to_list()
#corpus = [item for sublist in corpus for item in sublist]

In [199]:
#sum([len(d.split(' '))for d in corpus])>100000

In [200]:
vec = CountVectorizer(max_df=.5,lowercase=False,max_features=9000,preprocessor=prep)
docs = df.text
docs_filtered = df2.text
doc_term = vec.fit_transform(docs_filtered)
vocab = vec.get_feature_names_out()

In [201]:
tfidf_vec = TfidfVectorizer(max_df=0.5,lowercase=False,max_features=9000,preprocessor=prep)

In [202]:
tfidf = tfidf_vec.fit_transform(docs_filtered)
tfidf_vocab =  tfidf_vec.get_feature_names_out()

## Dimensionality Reduction

In [203]:
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn.cluster import DBSCAN
from ipywidgets import interact
import pickle

In [204]:
n_topics = 3
nmf = NMF(n_topics)
nmf.fit(doc_term)
nmf_matrix = nmf.transform(doc_term)

In [205]:
tfidf_nmf = NMF(n_topics)
tfidf_nmf_matrix = tfidf_nmf.fit_transform(doc_term)

In [227]:
topic_df = pd.DataFrame(nmf_matrix).add_prefix('topic_')
topic_df[['raw_reviews']]=df2[['text']]

In [207]:
word_topic_df = pd.DataFrame(nmf.components_,columns=vocab).T.add_prefix('topic_')
word_topic_df.head()

          topic_0   topic_1   topic_2
aback    0.007226  0.004451  0.000000
abandon  0.006866  0.000444  0.003908
abe      0.032241  0.043201  0.000000
abil     0.016390  0.000129  0.013342
abl      0.325307  0.290838  0.134251

In [208]:
tfidf_topic_df = pd.DataFrame(tfidf_nmf_matrix).add_prefix('topic_')
tfidf_topic_df[['raw_reviews']]=df2[['text']]
tfidf_word_topic_df = pd.DataFrame(tfidf_nmf.components_,columns=tfidf_vocab).T.add_prefix('topic_')

In [228]:
topic_df

,topic_0,topic_1,topic_2,raw_reviews
0,0.022639,0.006077,0.040705,This is nice little Chinese bakery in the hear...
1,0.023539,0.002239,0.109846,This is the bakery I usually go to in Chinatow...
2,0.010032,0.000000,0.047802,"A delightful find in Chinatown! Very clean, an..."
3,0.027338,0.000000,0.000000,I ordered a graduation cake for my niece and i...
4,0.090248,0.029048,0.054734,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...
...,...,...,...,...
168349,0.106762,0.010028,0.000000,I was online and couldn't decide what to order...
168350,0.086430,0.024389,0.000000,My partner raved about Primo Hoagies so I was ...
168351,0.012539,0.011263,0.006281,"Well built hoagie, nice and full...bread, meat..."
168352,0.087398,0.039621,0.000000,My boyfriend (vegetarian) and I ordered from P...
168353,0.075281,0.000766,0.111404,For a place that only makes hoagies how do u f...

In [210]:
#Thanks to Braden Taack for his functions
def top_reviews(topic_df, topic, n_reviews):
    return (topic_df
            .sort_values(by=topic, ascending=False)
            .head(n_reviews)['raw_reviews']
            .values)

def top_words(word_topic_df, topic, n_words):
    return (word_topic_df
            .sort_values(by=topic, ascending=False)
            .head(n_words))[topic]

def analyze_topic(topic_df, word_topic_df, topic='topic_0', n_review=10,n_words=10 ):
    for review in top_reviews(topic_df, topic, n_review):
        print(review)
        print()
    print('The Top Words for this Topic Are: ')
    print(top_words(word_topic_df, topic, n_words))

In [211]:
@interact(topic=(0, n_topics-1), reviews=(0,50), words=(0,50))
def interactive_analyze(topic=0, reviews=5, words=20):
    analyze_topic(topic_df, word_topic_df, topic='topic_'+str(topic), n_review=reviews,n_words=words)

interactive(children=(IntSlider(value=0, description='topic', max=2), IntSlider(value=5, description='reviews'â€¦

#### Topic_0
- negative reviews

#### Topic_1
- some negatives some postives to the reviews (meh place reviews)

#### Topic_2
- positive reviews

In [212]:
@interact(topic=(0, n_topics-1), reviews=(0,50), words=(0,50))
def interactive_analyze(topic=0, reviews=5, words=20):
    analyze_topic(tfidf_topic_df, tfidf_word_topic_df, topic='topic_'+str(topic), n_review=reviews,n_words=words)

interactive(children=(IntSlider(value=0, description='topic', max=2), IntSlider(value=5, description='reviews'â€¦

CountVectorizer and TF-IDF seem to be producing pretty similar results. Starting additional steps with CountVectorizer to account for any possible rare but relevent words.

In [229]:
topic_df.rename(columns={'topic_0':'topic_negative','topic_1':'topic_meh','topic_2':'topic_positive'},inplace=True)

## Factor Analysis

### Clustering

In [214]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt

In [215]:
x = StandardScaler().fit_transform(nmf_matrix)

clustering = DBSCAN(eps=0.5,min_samples=5,metric='cosine')
#db = clustering.fit(x)

DBSCAN seems to be too computationally intense for my computer. I'm unable to complete it. I'll have to skip it for now.

### Aggregation

In [230]:
topic_df[['raw_reviews']]=df2[['text']]
topic_df[['location']]=df2[['city']]
topic_df[['user_id']]=df2[['user_id']]

In [231]:
topic_df.head()

,topic_negative,topic_meh,topic_positive,raw_reviews,location,user_id
0,0.022639,0.006077,0.040705,This is nice little Chinese bakery in the hear...,Philadelphia,6_SpY41LIHZuIaiDs5FMKA
1,0.023539,0.002239,0.109846,This is the bakery I usually go to in Chinatow...,Philadelphia,tCXElwhzekJEH6QJe3xs7Q
2,0.010032,0.000000,0.047802,"A delightful find in Chinatown! Very clean, an...",Philadelphia,WqfKtI-aGMmvbA9pPUxNQQ
3,0.027338,0.000000,0.000000,I ordered a graduation cake for my niece and i...,Philadelphia,3-1va0IQfK-9tUMzfHWfTA
4,0.090248,0.029048,0.054734,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,Philadelphia,EouCKoDfzaVG0klEgdDvCQ

## Recommender
- Goal: Recommend similar other yelp users that provide similar reviews
- What I have to work with:
    1. NMF Matrix (dist to similar reviews)
    2. Business location (provide only users that are in the specified location)
- Things to keep in mind:
    1. Dataframe (topic_df) rows represents a single review. A user can/usually has multiple reviews. user_ids will get repeated
    2. NMF matrix provides distance similarity to other reviews. ie. looking at the similarity of different reviews.

In [345]:
cache = dict()
def user_rec (userID,nmf_matrix=nmf_matrix,topic_df=topic_df):
    if userID in cache:
        return cache[userID].keys()
    users=[]
    for l in topic_df.loc[topic_df['user_id']==userID].index:
        for j in range(200): #(nmf_matrix.shape[0]): more so as a proof of concept. range reduced to 200 instead of complete range of matrix
            if topic_df.iloc[j].user_id != userID:
                sim = np.dot(nmf_matrix[j,:],nmf_matrix[l,:])
                users.append((topic_df.iloc[j].user_id,sim))

    users.sort(key=lambda x: x[1], reverse=True)
    seen=set()
    top_users = [(a, b) for a, b in users if not (a in seen or seen.add(a))]
    cache[userID]=top_users
    return [top[0] for top in top_users[0:5]]

In [298]:
cache

{}

In [308]:
for users in topic_df['user_id'].values[:5]:
    user_rec(users)

In [346]:
user_rec('6_SpY41LIHZuIaiDs5FMKA')

['CWAPMrQyiI38Jh7LuDUIIg',
 'MaueOwM1-iPoOaA5F6a5xA',
 'pyR3eB5pzzdnw2rgDD-4uQ',
 'OmL2bjLvvRxg1brM5Pehgw',
 'rNDRkgfpSdUzjNq1NLSEiQ']

In [347]:
user_rec('CWAPMrQyiI38Jh7LuDUIIg')

['MaueOwM1-iPoOaA5F6a5xA',
 'h0QKCCPjvM_ijOAOaw3mbQ',
 'OmL2bjLvvRxg1brM5Pehgw',
 'NMOxipsnXc6olWdHYzXiYA',
 'pyR3eB5pzzdnw2rgDD-4uQ']

In [348]:
user_rec('pyR3eB5pzzdnw2rgDD-4uQ')

['CWAPMrQyiI38Jh7LuDUIIg',
 'DmSWv7l2lfePhyHiIRhLZg',
 'MaueOwM1-iPoOaA5F6a5xA',
 'X_DkwPTzdO_VWzUcbUXREg',
 'rNDRkgfpSdUzjNq1NLSEiQ']

In [349]:
user_rec('rNDRkgfpSdUzjNq1NLSEiQ')

['CWAPMrQyiI38Jh7LuDUIIg',
 'DmSWv7l2lfePhyHiIRhLZg',
 'pyR3eB5pzzdnw2rgDD-4uQ',
 'zhvxVeNlLWBUI9lX6u57MA',
 'MaueOwM1-iPoOaA5F6a5xA']

In [350]:
user_rec('zhvxVeNlLWBUI9lX6u57MA')

['CWAPMrQyiI38Jh7LuDUIIg',
 'DmSWv7l2lfePhyHiIRhLZg',
 'pyR3eB5pzzdnw2rgDD-4uQ',
 'rNDRkgfpSdUzjNq1NLSEiQ',
 'MaueOwM1-iPoOaA5F6a5xA']